@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 body {
	 font-family: "Nunito", sans-serif;
	 background: #1b1c22;
}
 .container {
	 display: flex;
	 width: 100%;
	 padding: 0 20px;
}
 .board__inner {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 margin: 100px 0 50px;
}
 .board__ideas-header {
	 color: #fff;
	 background: #7e57c2;
}
 .board__tasks-header {
	 color: #fff;
	 background: #5c6bc0;
}
 .board__bugs-header {
	 color: #fff;
	 background: #ef5350;
}
 .board__dev-header {
	 color: #fff;
	 background: #ffa726;
}
 .board__complete-header {
	 color: #fff;
	 background: #66bb6a;
}
 .col {
	 margin-bottom: 50px;
}
 .header {
	 width: 270px;
	 margin-bottom: 20px;
	 padding: 15px 0;
	 font-size: 20px;
	 text-align: center;
	 border-radius: 5px;
	 transition: 0.3s;
}
 .header:not(:last-child) {
	 margin-right: 20px;
}
 .area {
	 max-width: 270px;
	 min-height: 150px;
	 transition: 0.3s;
}
 .tag {
	 display: inline-flex;
	 margin-bottom: 10px;
	 padding: 2px 4px;
	 color: #fff;
	 font-size: 14px;
	 background: #5c6bc0;
	 border-radius: 5px;
}
 .item {
	 width: 100%;
	 padding: 10px 10px;
	 background: #fff;
	 border-radius: 5px;
	 cursor: grab;
}
 .item:not(:last-child) {
	 margin-bottom: 10px;
}
 .item:active {
	 cursor: grabbing;
}
 .hide {
	 display: none;
}
 .hovered {
	 background: #fff 33;
	 border-radius: 5px;
}
 
.grid {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: 'box-1' 'box-2' 'box-3'
    'box-4' 'box-5' 'box-6'
    'box-7' 'box-8' 'box-9';
}
.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid;
}
section {
    height: 100vh;
}